<!DOCTYPE html><html><head>
		<title>$TITLE</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="https://trevcan.duckdns.org/files/assets/blog/Crystal_Clear_app_tux.png" type="image/png">
		<link rel="stylesheet" href="main.css">


		<header>
			<div>
				<!-- 
					<a href="https://trevcan.github.io"> 
				-->
				<a href="index.html">

					<!--
						<h1>trevcan@internets /random/path/idk $</h1>
					-->
					<h1>$BLOG_WEBSITE_NAME</h1>
				</a>
				<div class="header-links">
					<a href="index.html"><h2 class="header-link">Index</h2></a>
					<a href="about.html"><h2 class="header-link">About</h2></a>
					<a href="rss.xml"><h2 class="header-link">RSS</h2></a>
					<a href="atom.xml"><h2 class="header-link"> atom</h2></a>
					<a href="wl.html"><h2 class="header-link">later</h2></a>
				</div>
			</div>
		</header>


	</head><body>

		<div class="container">
