<!DOCTYPE html>
<html>
    <head>
        <title>
            $TITLE
        </title>
        <link href="https://trevcan.duckdns.org/files/assets/blog/tux-pipe.png" rel="shortcut icon" type="image/png"/>
        <link href="main.css" rel="stylesheet"/>
        <header>
            <div>
                <!-- 
																				<a href="https://trevcan.github.io"> 
																-->
                <a href="$BLOG_URL_ROOT">
                    <!--
																								<h1>trevcan@internets /random/path/idk $</h1>
																				-->
                    <h1>
                        $BLOG_WEBSITE_NAME
                    </h1>
                </a>
                <div class="header-links">
                    <a href="index.html">
                        <h2 class="header-link">
                            Index
                        </h2>
                    </a>
                    <a href="about.html">
                        <h2 class="header-link">
                            About
                        </h2>
                    </a>
                    <a href="rss.xml">
                        <h2 class="header-link">
                            RSS
                        </h2>
                    </a>
                    <a href="atom.xml">
                        <h2 class="header-link">
                            /atom
                        </h2>
                    </a>
                </div>
            </div>
        </header>
    </head>
    <body>
        <div class="container">
            <h1>
                Redirecting to $BLOG_REDIRECT_TITLE
            </h1>
			<p>
			<h1>
				url: $BLOG_REDIRECT_TARGET 
			</h1>
            <meta content="$BLOG_REDIRECT_TIME; url=$BLOG_REDIRECT_TARGET" http-equiv="refresh"/>
        </div>
        <footer>
            <span>
                <!--
																				<b>By trevcan : Hector Canizales;</b>
																-->
                <b>
                    By $BLOG_AUTHOR_ALIAS : $BLOG_AUTHOR;
                </b>
            </span>
            <a href="LICENSE">
                <span>
                    © sometime to ∞
                </span>
            </a>
            <p>
                <span>
                    <b>
                        Powered by my
                    </b>
                </span>
                <a href="https://github.com/trevcan/blogit">
                    <span>
                        fork of blogit
                    </span>
                </a>
                <span>
                    and tocttou's beautiful
                </span>
                <a href="https://github.com/tocttou/hacker-blog/blob/master/_sass/base.scss">
                    <span>
                        css
                    </span>
                </a>
            </p>
        </footer>
    </body>
</html>
